
    <div style="width: 32%; box-sizing: border-box; margin: 2px; float: left;  color: white;" class="card">
            <h5 style="background-color: blue;" class="card-header">{{ name }}</h5>
            <div class="">
              <h5 class="card-title"><i class="fas fa-glasses mr-2"></i>{{ role }}</h5>
              <ul>
                  <li class="list-group-item">ID: {{ id }}</li>
                  <li class="list-group-item">Email: <a href="mailto:{{ email }}">{{ email }}</a></li class="list-group-item">
                  <li class="list-group-item">Github: <a href="https://github.com/{{ github }}" target="_blank" rel="noopener noreferrer"></a></li>
              </ul>
            </div>
    </div>
